# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Environments
.env
.env.*
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/

# Docker
*.log